apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
  namespace: bookrental
data:
  SERVER_PORT: "9090"
  SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/bookrental
  SPRING_DATASOURCE_USERNAME: book
  SPRING_JPA_HIBERNATE_DDL_AUTO: update
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: bookrental
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: martina107/book-rental-backend:latest
          ports:
            - containerPort: 9090
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: db-secret
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: bookrental
spec:
  selector:
    app: backend
  ports:
    - port: 9090
      targetPort: 9090
