name: CI - Build & Push Docker Images

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'


      - name: Build backend with Maven
        run: mvn clean package -DskipTests
        working-directory: backend

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build backend Docker image
        run: docker build -t martina107/book-rental-backend:latest .
        working-directory: backend

      - name: Push backend Docker image
        run: docker push martina107/book-rental-backend:latest

      - name: Build frontend Docker image
        run: docker build -t martina107/book-rental-frontend:latest .
        working-directory: frontend

      - name: Push frontend Docker image
        run: docker push martina107/book-rental-frontend:latest
